.cuerpo__pie{
    padding: 2rem 0;
    background-color: var(--color-verde);
    display: flex;
    justify-content: space-around;
}
.pie__text{
    font-size: 1.5rem;
    font-family: var(--font-arimo);
    font-style: italic;
    font-weight: bold;
}

.enlaces__img{
    width: 2rem;
    margin: 0 1rem;
}
/* Media queries para tablets */
@media only screen and (max-width: 1023px) {}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .cuerpo__pie{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}